html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

/*
.logo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}*/

container > iframe{
	border: 0 solid #000;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.nodes-table.mdl-data-table td, .nodes-table.mdl-data-table tr{
	height: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.nodes-table.mdl-data-table .mdl-textfield{
	/*padding:20px 0 20px 0;*/
	padding:20px 0 0;
	margin:0px;
}
