.prompt {
	position: fixed;
	bottom: 0px;
	background-color: #ccc;
	width: 100%;
}
.prompt .btn {
	width: 10%;
}
.prompt input {
	width: 85%;
	margin-left: 2%;
}
.console {
	font-family: monospace;
	white-space: pre;
	font-size: 14px;
}
.console {
	width: 100%;
	border-spacing: 0px;
}
.console > tr {
	clear: both;
	border-spacing: 0px;

}
.console > tr > td {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	height: 18px;
}
.console > tr.cmd > td {
	margin-top: 3px;
}
.console > tr:not(.cmd) > td {
	margin-top: 0px;
}
.console table,
.console table tr,
.console table td {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}
.console .time,  .console .host{
	color: #009ee0;
	width: 1%;
}
.console .status {
	text-align: right;
	height: 18px;
}

.console table {
	background-color: #ccc;
}
.console table .status {
	width: 18px;
}
