.page-header
	h1 Changes
table.table.table-striped.table-condensed( ng-table="tableParams")
	tr(ng-repeat='row in $data',demo-tracked-table-row="row")
		td(data-title="'Nodeid'", sortable="'row.nodeid'", filter="{'nodeid': 'text'}") {{row.nodeid}}
		td(data-title="'Group'", sortable="'row.owner'", filter="{'owner': 'text'}") {{row.owner}}
		td(data-title="'Hostname'", sortable="'row.hostname'", filter="{'hostname': 'text'}") {{row.hostname}}
		td.split.text-right(data-title="'Freq'")
			span 2.4 Ghz
			span 5 Ghz
		td.split.text-right(data-title="'Channel'", sortable="'row.wireless.channel24'",filter="{'wireless.channel24': 'number'}")
			span {{row.wireless.channel24}}
			span {{row.wireless.channel5}}
		td.split.text-right(data-title="'TxPower'", sortable="'row.wireless.txpower24'",filter="{'wireless.txpower24': 'number'}")
			span {{row.wireless.txpower24}}
			span {{row.wireless.txpower5}}
