.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(ng-click="toggleOpen()")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(ui-sref="app")
				img(src="/favicon.ico")
		.navbar-collapse.collapse(uib-collapse="!isOpen")
			ui.nav.navbar-nav
				li(ui-sref="app.nodes.sort",ng-class="{ active: $state.includes('app.nodes') }")
					a(nav navbar-nav) Nodes
				li(ui-sref="app.changes",ui-sref-active="active")
					a(nav navbar-nav) Changes
				li(ui-sref="app.map",ui-sref-active="active")
					a(nav navbar-nav) Map
			ui.nav.navbar-nav.navbar-right
				li
					a.bt.btn-link(ng-click="autorefreshUpdate()")
						span.glyphicon(ng-class="{'glyphicon-ok':autorefresh,'glyphicon-remove':!autorefresh}")
				li
					a.btn.btn-link(ng-click="refresh()")
						span.glyphicon.glyphicon-refresh(aria-hidden="true")
						| {{timeRefresh}} Sec
			form.navbar-form.navbar-right(ng-class="{'has-warning':globals.currentUser.authdata}")
				input.form-control(type="password",ng-change="passphraseUpdate()",ng-model="passphrase",placeholder="Passphrase")
div(ui-view="",style="margin-top:53px;")
