.page-header
	h1 Nodes
		.btn-group.btn-group-xs
			a.btn.btn-default(ui-sref="app.nodes.sort",ui-sref-active="active") Sortiert
			a.btn.btn-default(ui-sref="app.nodes.group",ui-sref-active="active") Groupiert

.table-responsive(ui-view="")
